.corp {
    overflow: auto;
}

.nantes {
    margin-left: 20%;
    border: solid;
    background-color: #FF787C;
    width: 15%;
    text-align: justify;
}

.angers {
    margin-left: 40%;
    border: solid;
    background-color: #FF787C;
    width: 15%;
    text-align: justify;
}

.caen {7
    margin-top: 25%;
    margin-left: 60%;
    border: solid;
    background-color: #FF787C;
    width: 15%;
    text-align: justify;
}

.paris {
    margin-left: ;
    border: solid;
    background-color: #FF787C;
    width: 15%;
    text-align: justify;
}

.st_naze {
    margin-left: ;
    border: solid;
    background-color: #FF787C;
    width: 15%;
    text-align: justify;
}

.renne {
    margin-left: ;
    border: solid;
    background-color: #FF787C;
    width: 15%;
    text-align: justify;
}



